<ion-header>
  <ion-toolbar>
    <ion-title>forget-password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding ion-text-center">
  <ion-img src="../../assets/BOlogo.png"></ion-img>
  <h1 style="margin-top: 3px;">Verification</h1>
  <p>Enter the one time password sent </p>
    +917387547387

     
   <ion-grid class="inputs">
    <ion-row>
      <ion-col size="3" style="background: rgb(255, 255, 255); border-radius: 5px;" >
        <ion-input  maxLength="1" [(ngModel)]="otp.first"></ion-input>
      </ion-col>
   
      <ion-col size="3" style="background: white;">
        <ion-input maxLength="1" [(ngModel)]="otp.second" ></ion-input>
      </ion-col>
  
      <ion-col size="3" style="background: white;" >
        <ion-input maxLength="1" [(ngModel)]="otp.third" ></ion-input>
      </ion-col>
  
      <ion-col size="3" style="background: white;">
        <ion-input maxLength="1"[(ngModel)]="otp.forth" ></ion-input>
      </ion-col>
      
    </ion-row>
   </ion-grid> 
  
   <ion-note>
     Didn't receive otp?
     <ion-text color="primary">Resend OTP</ion-text>
   </ion-note>
  <br><br>
  
         <ion-button color="success" (click)="Submit()">Verify Code</ion-button>
        <ion-button color="danger" style="width: 130px;" (click)="clear()">Clear</ion-button>
   

</ion-content>
