.col {
    border-radius: 8px;
    text-align: center;
    color: white;
}

.p {
    opacity: 0.4;
    font-size: 12px;
}

.chart {
    color: #000000;
    margin-top: 15px;
    background-color: #fff;
}

.mar1 {
    margin-left: 1px;
}

.mar5 {
    margin-left: 5px;
}

.mar15 {
    margin-top: 15px;
}
.mar16 {
    height: 200px;
}